.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

body{
    margin: auto;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    float: left;
}

.right-inner1{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.right-inner2{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}

.right-inner{
    float: left;
}

.right-inner3{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}

.right-lower{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    /* float: left; */
}

.fooder{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

* {
    margin: 0;
    padding: 0;
}